<div class="one-third column mm_mainbox {{ mainbox_class }}">
    <a href="{{ mm_mainlinkbox }}"><h2 class="mm_h2">{{ mainbox_title }}</h2></a>
    <a href="{{ mm_mainlinkbox }}"><img class="mm_boxcontent-img" src="{{ mainbox_image | asset_url }}" alt="{{ mainbox_title }}"/></a>
</div>