{% if these_are_related_products %}
    {% assign producturl = product-list-repeatable-item-trend-women.url %}
{% else %}
    {% assign producturl = product-list-repeatable-item-trend-women.url | within: collection %}
{% endif %}

{% assign mm_product_class = 'large-3'%}
{% assign mm_id_product = 'mm_prod' | append: forloop.index %}
  {% if forloop.index == 1 %}    
    {% capture mm_product_class %}{{ 'mm_trend-left' }}{% endcapture %}    
    <div class="sixteen columns row mm_trend-first-line">
        <div id="mm_trend-banner1" class="large-6 columns mm_no-mobile shadow">            
            {% assign mm_collection_image = 'mm_collection_women_trends01_img.jpg' %}
            {% include 'mm_collection-banner' with settings.mm_collection_women_trends01_handle %}
        </div>      
        <div class="large-4 small-12 columns mm_coluna-lateral-women"> 
        {% elsif forloop.index == 2 %}
            {% capture mm_product_class %}{{ }}{% endcapture %}            
        {% elsif forloop.index == 3 %}
        </div>
        
            {% capture mm_product_class %}{{ }}{% endcapture %}
    </div> 
    <div class="sixteen columns row"> 
        <div class="large-4 small-12 columns"> 
          
          {% elsif forloop.index == 4 %}        
          
              {% capture mm_product_class %}{{  }}{% endcapture %}
          
          {% elsif forloop.index == 5 %}
        </div>
        <div id="mm_trend-banner2" class="large-6 columns mm_no-mobile shadow">          
            {% assign mm_collection_image = 'mm_collection_women_trends02_img.jpg' %}
            {% include 'mm_collection-banner' with settings.mm_collection_women_trends02_handle %}
        </div>
    </div>
    <div class="sixteen columns row"> 
        <div class="large-12 small-12 columns"> 
            {% capture mm_product_class %}{{ }}{% endcapture %}
          {% elsif forloop.index == 6 %}
            {% capture mm_product_class %}{{ }}{% endcapture %}
          {% elsif forloop.index == 7 %}
            {% capture mm_product_class %}{{ }}{% endcapture %}
          
          {% elsif forloop.index == 8 %}
              {% capture mm_product_class %}{{ 'small-12' }}{% endcapture %}
        </div>
    </div> 
    <div class="sixteen columns row">
        <div id="mm_trend-banner3" class="large-6 columns mm_no-mobile shadow">
            {% assign mm_collection_image = 'mm_collection_women_trends03_img.jpg' %}
            {% include 'mm_collection-banner' with settings.mm_collection_women_trends03_handle %}
        </div>
        <div class="large-4 small-12 columns"> 
        {% elsif forloop.index == 9 %}  
          {% capture mm_product_class %}{{ 'small-12' }}{% endcapture %}
      
        {% elsif forloop.index == 10 %}
        </div>
    </div>
    <div class="sixteen columns row">
        <div class="large-12 small-12 columns"> 
           {% capture mm_product_class %}{{ }}{% endcapture %}

  {% endif %}

  <div id="{{ mm_id_product }}" class="product {{mm_product_class}} columns">    
   
    {% assign product_thumb_size = 'compact' %}
    <div class="mm_imgcont">        
            <a href="{{ producturl }}" class="image-inner-wrap">
             
              <img src="{{ product-list-repeatable-item-trend-women.featured_image | product_img_url: product_thumb_size }}" alt="{{ product-list-repeatable-item-trend-women.featured_image.alt }}" />
              {% if settings.mm_ecommerce_en %}{% if product-list-repeatable-item-trend-women.compare_at_price_max > product-list-repeatable-item-trend-women.price and settings.prod_sale_mode != 'none' %}
              <div class="salecontainer"><span class="sale" href="{{ producturl }}">{{ settings.text_sale }}</span></div>
              {% endif %}{% endif %}
            </a>
    </div>

    <p class="title"><a href="{{ producturl }}">{{ product-list-repeatable-item-trend-women.title }}</a></p>
    {% comment %}{% unless settings.prod_thumb_desc_chars == '0' %}
    <a class="desc" href="{{ producturl }}">
        {% capture proddesc %}{% include 'process-html-strip' with product-list-repeatable-item-trend-women.description %}{% endcapture %}
      {{ proddesc | strip_html | truncate: settings.prod_thumb_desc_chars }}
    </a>
    {% endunless %}{% endcomment %}
    
    {% if settings.mm_ecommerce_en %}
    <div class="price">
      {% if product-list-repeatable-item-trend-women.compare_at_price_max > product-list-repeatable-item-trend-women.price %}<span class="reducedfrom">{{ product-list-repeatable-item-trend-women.compare_at_price_max | money }}</span>{% endif %}
      {% if product-list-repeatable-item-trend-women.price_varies %}<span class="from">from</span>{% endif %}
      <span class="actual">{{ product-list-repeatable-item-trend-women.price | money }}</span>
    </div>
    {% endif %}
</div>