{% if settings.mm_ecommerce_en %}
    <h1 class="sixteen columns">{{ settings.text_shoppingcart }}</h1>
    {% if cart.item_count == 0 %}
        <p class="sixteen columns">Your basket is empty</p>
        {% include 'notfound-products' %}
    {% else %}
        <div class="sixteen columns">
            <script type="text/javascript">
            // <![CDATA[
                function remove_item(id) {
                    if(confirm('Are you sure you want to remove this item?')) {
                        document.getElementById('updates_'+id).value = 0;
                        document.getElementById('cartform').submit();
                    }
                    return false;
                }
            // ]]>
            </script>
            <form action="/cart" method="post" id="cartform">
                <div id="basket" class="cf">
                    <ul>
            		{% for item in cart.items %}
                        <li>
                    		<div class="cartitem cf">
                              <div class="image">
                                {% comment %} Find image that matches variant, if variant chosen {% endcomment %}
                                {% assign imagePicked = false %}
                                {% if settings.prod_lvi_en %}
                                  {% if image.alt != item.product.title and image.alt != '' %}
                                    {% for image in item.product.images %}
                                      {% if item.variant.title contains image.alt %}
                                        <a href="{{ item.product.url }}"><img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" /></a>
                                        {% assign imagePicked = true %}
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                {% endif %}
                                {% unless imagePicked %}
                                	<a href="{{ item.product.url }}"><img src="{{ item.product.featured_image | product_img_url: 'medium' }}" alt="{{ item.title | escape }}" /></a>
                                {% endunless %}
                              </div>
                                <div class="desc">
                					<span class="title"><a href="{{ item.product.url }}">{{ item.title }}</a></span>
                                    {% capture proddesc %}{% include 'process-html-strip' with item.product.description %}{% endcapture %}
                                    <p>{{ proddesc | strip_html | truncate: 120 }}</p>
                    			</div>
                    			<div class="qty">
                                    <label for="updates_{{ item.variant.id }}">Qty</label>
                                    {% unless settings.hide_plusmin_hide %}
                                    <a href="javascript:modifyQuantity('#updates_{{ item.variant.id }}', -1, {{ item.variant.id }})" class="minibutton">-</a>
                                    {% endunless %}
                                    <input class="short" type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();"/>
                                    {% unless settings.hide_plusmin_hide %}
                                    <a href="javascript:modifyQuantity('#updates_{{ item.variant.id }}', 1, {{ item.variant.id }})" class="minibutton">+</a>
                                    {% endunless %}
                                </div>
                                <div class="amt"><span class="amount" id="row_amt_{{ item.variant.id }}">{{ item.line_price | money_with_currency }}</span></div>
                    			<div class="remove"><a href="#" onclick="return remove_item({{ item.variant.id }});">Remove</a></div>
                    		</div>
                        </li>
                    {% endfor %}
                    </ul>
                  <div class="foot">
                        <div class="instructions">
                            {% unless settings.cart_hide_note %}
                                <p><a href="#note" id="shownote"><label for="note">{{ settings.text_telluscart }} &rarr;</label></a></p>
                                <textarea name="note" id="note" rows="3" cols="60">{{cart.note}}</textarea>
                                {% if cart.note and cart.note != '' %}
                                {% else %}
                                    <script>
                                        $('#note').hide();
                                        $(function(){
                                            $(document).on('click', '#shownote', function(){
                                                $('#note').show(200);
                                                return false;
                                            });
                                        });
                                    </script>
                                {% endif %}
                            {% endunless %}&nbsp;
                        </div>
                        <div class="updatecont"><input type="submit" class="button update altcolor" id="update-cart" name="update" value="Update" />&nbsp;</div>
                        <div class="checkoutcont">
                            <div class="total">{{ cart.total_price | money_with_currency }}</div>
                            <input type="submit" class="button large" name="checkout" value="{{ settings.text_checkout }}" />
                            {% if additional_checkout_buttons %}
                                <div class="extrapaymentmethods">
                                    <p class="subtext">- or -</p>
                                    {{ content_for_additional_checkout_buttons }}
                                </div>
                            {% endif %}
                        </div>
                        
                    </div>
            	</div><!-- #basket -->
            </form><!-- #cartform -->
            {% include 'shipping-calculator' %}
        </div>
    {% endif %}
{% else %}
    <div id="mm_not-found" class="eleven columns">
        <h1 id="mm_not-found-h1">404: Page not found!</h1>
        <p>This page has either been removed or doesn't exist.</p>
    </div>
{% endif %}
