{% assign row_limit = settings.mm_products_per_row_coll | plus: 0 %}
{% assign total_prods_to_show = row_limit | times: settings.mm_product_rows_on_coll_page %}
{% paginate collection.products by total_prods_to_show %}
<div class="sixteen columns mm_collection-men">
    <div class="mm_collection_banner">
        {% assign mm_collection_image = 'mm_collection_men_img.jpg' %}
        {% include 'mm_collection-banner' with settings.mm_collection_men_handle %}
    </div>
    
    {% if settings.show_social_coll %}
    <div class="social floating">
        <span class="label">{{ settings.text_sharethis }}</span>
        {% include 'social-sharing' %}
    </div>
    {% endif %}
    
    {% unless collection.handle == 'all' %}
    <h2 class='mm_home-h2'>{{ collection.title | escape }}</h2>
    {% if collection.description != '' %}
        <div class="content-block row">
            {{ collection.description }}
        </div><!-- .pagecontent -->
    {% endif %}
    {% endunless %}

    {% if paginate.pages > 1 or collection.tags.size > 0 %}
      <div class="row">
        <div class="ten columns alpha">
            <div id="crumbs">
                <a href="/" title="Home">Home</a>
                &raquo;
                <a href="{{ collection.url }}">{{ collection.title | escape }}</a>
            </div><!-- #crumbs -->
        </div>
        
        <div class="six columns omega collectionfilter">
            <div class="paging">
            {% if paginate.pages > 1 %}
                {% if paginate.previous %}
                    <a class="prev" href="{{ paginate.previous.url }}">&#8249;</a>
                {% endif %}
                {% for part in paginate.parts %}
                    {% if part.is_link %}
                        <span class="page">{{ part.title | link_to: part.url }}</span>
                    {% else %}
                        <span class="page current">{{ part.title }}</span>
                    {% endif %}        
                {% endfor %}      
                {% if paginate.next %}
                    <a class="next" href="{{ paginate.next.url }}">&#8250;</a>
                {% endif %}
            {% endif %}
            </div>&nbsp;        
        </div>
      </div>
    {% endif %}
</div>
{% if collection.products.size == 0 %}
    <div class="sixteen columns">There are no products here.</div>
{% else %}
    <div class="productlist mm_productlist">
    
    {% for product in collection.products %}
        {% include 'mm_product-list-collection' with product %}
    {% endfor %}
    </div><!-- .productlist -->
{% endif %}

{% if settings.mm_use_inf_scroll == true %}
<script>
$('.productlist').infinitescroll({
    navSelector  : "div.paging",
    nextSelector : "div.paging .next",
    itemSelector : "#maincontent .productlist .product, #maincontent .productlist .cf",
    loading: {
        img         : '{{ settings.loading_graphic | asset_url }}',
        msgText     : 'Loading more products...',
        finishedMsg : 'There are no more products in this collection.'
    }
}, function(items){    
    $(items).find('img:not(.altimg)').each(function(){
        $(this).trigger('initprodimg');
    });
});
</script>
{% endif %}
{% endpaginate %}