<div id="crumbs" class="sixteen columns">
    <a href="/" title="Home">Home</a>
    &raquo;
    <a href="{{ page.url }}">{{ page.title }}</a>
</div><!-- #crumbs -->

{% if settings.show_social_page %}
<div class="social floating">
    <span class="label">{{ settings.text_sharethis }}</span>
    {% include 'social-sharing' %}
</div>
{% endif %}

<!--<h1>{{ page.title }}</h1>-->

<aside class="five columns offset-by-one widgets" id="mm_contact_left">    
    <div class="pagesnippetwidget widget">
        <h6>Grahams Stores</h6>
            <ul class="mm_list_address">
                <li>
                    <strong>Dublin:</strong><br>
                    22 Exchequer Street<br>
                    Phone: 01 6774645
                </li>
                <li>
                    <strong>Nass:</strong><br>
                    6 North Main Street <br>
                    Phone:  045 899277
                </li>
                <li>
                    <strong>Kilkenny:</strong><br>
                    13 Hight Street <br>
                    Phone:  0567721183
                </li>
                <li>
                    <strong>Kilkenny</strong><br>
                    Friary Street<br>
                    Phone: 056 7721183 
                </li>
                <li>
                    <strong>Carlow</strong><br>
                    143 Tullow Street<br>
                    Phone: 059 9133053 
                </li>                
                <li>
                    <strong>Clonmel</strong><br>
                    64 O Connell Street<br>
                    Phone:052 6182770  
                </li>                
            </ul>
    </div>
            
    <div class="pagesnippetwidget widget">
        <h6>Opening Hours</h6>
            <ul>
                <li>Monday: 10:00 - 6:00</li>
                <li>Tuesday: 9:60 – 6:00</li>
                <li>Wednesday: 9:30 – 6:00</li>
                <li>Thursday: 9:30 – 8:00</li>
                <li>Friday: 9:30 – 6:00</li>
                <li>Saturday: 9:30 – 6:00</li>
                <li>Sunday: 12:30 – 5:30 (All stores are open except Naas)</li>
            </ul>
    </div>        
</aside>

<div class="ten columns" id="mm_contact_right">   
  <div class="pagesnippetwidget widget">
    <h6>Contact form</h6>
      {% include 'process-html' with page.content %}
      
      {% form 'contact' %}
    
      {% if form.posted_successfully? %}
        <p class="success-msg">Thanks for contacting us! We'll get back to you as soon as possible.</p>
      {% endif %}
  
      {% if form.errors %}
          <ul>
          {% for field in form.errors %}
              <li class="error">{{ field | replace: 'body','Message' | capitalize }} - {{ form.errors.messages[field] }}</li>
          {% endfor %}
          </ul>
      {% endif %}
      
      <ul class="formfields">
          <li class="inputrow">
              Send your message to us by the form below or by the email: customercare@grahamshoes.ie
          </li>
          <li class="inputrow">
              <label for="contact_title" class="mm_blocklabel">Title:</label>
              <select data-fieldname="Title" class="required" id="contact_title" name="contact[title]">            
                  <option value="Mr">Mr</option>
                  <option value="Miss">Miss</option>
              </select>
          </li>
          <li class="inputrow">
              <label for="contact_full_name" class="hoverlabel">Full Name</label>
              <input type="text" data-fieldname="Your full name" class="required" id="contact_full_name" name="contact[full_name]" value="{{form.full_name}}"/>
          </li>
          <li class="inputrow">
              <label for="contact_email" class="hoverlabel">Email Address</label>
              <input type="email" data-fieldname="Your email" class="required" id="contact_email" class="email" name="contact[email]" value="{{form.email}}" />
          </li>
          <li class="inputrow">
              <label for="contact_telephone" class="hoverlabel">Telephone</label>
              <input type="tel" data-fieldname="Your telephone number" class="required tel" id="contact_telephone" class="tel" name="contact[telephone_number]" value="{{form.telephone_number}}" />
               
          </li>   
          <li class="inputrow">
              <label for="contact_store" class="mm_blocklabel">Select the store:</label>  
              <select data-fieldname="stores" class="required" id="contact_store" name="contact[store]">
                  <option value="Dublin">Dublin</option>
                  <option value="Kilkenny">Kilkenny</option>
                  <option value="Naas">Naas</option>
                  <option value="Carlow">Carlow</option>
                  <option value="Clonmel">Clonmel</option>
                  <option value="All">All</option>
              </select>                  
          </li>
          <li class="inputrow">
              <label for="contact_topic" class="mm_blocklabel">Chosse Topic:</label>
              <select data-fieldname="Topic" class="required" id="contact_topic" name="contact[topic]">                
                  <option value="Product Enquired">Product Enquired</option>
                  <option value="Suggestion">Suggestion</option>                
              </select>
          </li>
          <li class="inputrow">            
              <label for="message" class="mm_blocklabel">Send us a message:</label>
              <textarea id="message" data-fieldname="Your message" class="required" name="contact[message]">{{form.message}}</textarea>
          </li>
          <li>
              <input type="submit" class="button" value="Send" />
          </li>
      </ul>
    {% endform %}
    </div>    
</div>