<div id="crumbs" class="sixteen columns">
    <a href="/" title="Home">Home</a>
    &raquo;
    <a href="{{ page.url }}">{{ page.title }}</a>
</div><!-- #crumbs -->

{% if settings.show_social_page %}
<div class="social floating">
    <span class="label">{{ settings.text_sharethis }}</span>
    {% include 'social-sharing' %}
</div>
{% endif %}

<div class="simpleclear">
	<div class="sixteen columns">
	    <h1>Our History</h1> 
	</div>
	<aside class="five columns widgets offset-by-one">    	    
	    <div class="pagesnippetwidget widget mm_margin_top_500">        	    		 
	    		{{ 'mm_about4.png' | asset_url | img_tag }} <br><br>
	    		{{ 'mm_about1.png' | asset_url | img_tag }} <br><br>
	    		{{ 'mm_about2.png' | asset_url | img_tag }} <br><br>	    		    			    	
		</div>
	</aside>
    <section class="ten columns">
      	<!--<div>    -->
			<article>    		      	       
		        <div class="pagecontent">
					<div class="content-block">
                  	    <p class="mm_text_align_center">
					        {{ 'mm_about3.png' | asset_url | img_tag }} 
					    </p>
						<p>
						Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.
						</p>
						<p>
						Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.
						</p>
						<p>
						Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.Everything starts in 1969 in Dublin City, Ireland when Tom Graham as one of one of Ireland’s first stand alone children’s shop.
						</p>
                  </div>
              </div>	
			</article>
	  	<!--</div>-->
		<div class="paging"></div>&nbsp;
	</section>

</div>